@model IEnumerable<SATrackingDAL.vwAllLanguage>

@{
    ViewBag.Title = "All";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 20, ajaxUpdateContainerId: "gridContent");
}

<h2>All</h2>

<div id="gridContent">

@grid.GetHtml(
    tableStyle: "gridTable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAltRow",
    mode:WebGridPagerModes.All,
    firstText: "<< First", 
    previousText: "< Previous", nextText: "Next >", 
    lastText: "Last >>", 
    columns: new []{
    grid.Column("LanguageName", "Language"),
    grid.Column("LangCount", "Usage",
    format: @<text>@Html.ActionLink(Html.Encode((string)(item.LangCount.ToString() + " Application(s)")), "Index", "Application", new { param = item.LanguageName, src="lng"}, null)</text>) 
})

</div>